body{
    background-color: #3D195B;
}
.header{
        display: flex;
        color: rgba(255, 255, 255, 0.753);
        font-size: 13px;
        column-gap: 30px;
        width: 100%;
        height: fit-content;
        font-family: sans-serif; 
        margin-bottom: 20px;
        font-weight: 700;
}
.header a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.753);
     display: inline-block; 
     transition: transform 0.2s ease;
}
.header a:hover{
    color: white;
    transform: scale(1.2);
}
.h2{
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
    height: 70px;
}
.grid{
    position: absolute;
    top: 8%;
    left: 0;
    color: white;
    border-radius:55px;
    height:23px;
    width:23px;
    background-color: rgba(255, 255, 255, 0.075);
    padding: 10px;
}
.logo{
    position: absolute;
    left:4%;
    top:7%;
    color:white;
    transform:scale(1.1);
}
.menu{
    position: absolute;
    left: 14%;
    top: 17%;
    color: white;
    font-size: 20px;
    display:flex;
    column-gap: 25px;
    font-size: 16px;
    font-weight:700;
    font-family:sans-serif;
}
.menu a{
    text-decoration: none;
    color: white;
}
.more a{
    text-decoration: none;
    color: white;
}
.menu a:hover{
    background-color:rgba(255, 255, 255, 0.041);
    border-radius: 50px;
    padding: 10px;
}
.more a:hover{
    background-color:rgba(255, 255, 255, 0.041);
    border-radius: 50px;
    padding: 10px;
}
.hero{
    background: linear-gradient(90deg, #06EDFD 0%, #4C94FD 50%, #676BEB 100%);
    height:170px;
    width: auto;
    position: relative;
}
.hero img{
        transform: scale(0.5);
        transform-origin: left center;
        position: absolute;
        top: 15%;
        left: 2%;
        margin-left: 0;
}
.im2{
    position: absolute;
    top: -28%;
    left: 75%;
    transform: scale(1.2);
    transform-origin: right center;
    margin-left: 0; 
}
